.mesob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16vw;
    position: relative;
}

.cap{
    object-fit: contain;
    width: 100%;
    z-index: 99;
    position: relative;
    top: 5%;
    filter: blur(0px);
    transition: filter 0.5s ease;
}
.capBlur{
    object-fit: contain;
    width: 100%;
    z-index: 99;
    position: relative;
    top: 5%;
    filter: blur(10px);
    transition: filter 0.5s ease;
    transition-delay: 1s;
}
.body{
    object-fit: contain;
    width: 100%;
    filter: blur(0px);
    transition: filter 0.5s ease;
}
.bodyBlur{
    object-fit: contain;
    width: 100%;
    filter: blur(10px);
    transition: filter 0.5s ease;
    transition-delay: 1s;
}

@media (max-width: 480px){
    .mesob{
        width: 46vw;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .mesob{
        width: 25vw;
    }
}

/*
@media screen and (max-width: 1280px){
    .mesob{
        width: 200px;
    }
} */